.ChatScreen {

}

.textField {
    background: #f3f2f2;
    width: 100%;
    height: 500px;
    position: absolute;
}

.messageText {
   	background: white;
    width: 35%;
    margin-top: 2px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    position: relative;
    font-family: Roboto;
}

.username {
	margin-top: 10px;
    margin-left: 5px;
    padding-top: 2px;
    padding-left: 5px;
    position: relative;
    font-family: Roboto;
    font-size: 12px;
}

.messageTime {
	width: 35%;
	margin-top: 1px;
    margin-left: 5px;
    padding-top: 2px;
    padding-left: 5px;
    position: relative;
    font-family: Roboto;
    font-size: 7px;
    text-align: right;
}



div {
    display: block;
}